* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Proxima-nova;
}
@font-face {
    font-family: Proxima-nova;
    src: url("../font/Proxima Nova Font.otf");
}
.header-top {
    background-color: #c0202f;
    padding: 10px 0px;
    margin: 0px auto;
}
.top-social-icon,
.footer-social-icons {
    display: flex;
    justify-content: start;
}
.top-social-icon a,
.footer-social-icons a {
    padding: 0px 10px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 17px;
    transition: all 0.3s ease-in-out 0s;
}
.top-social-icon a:hover {
    color: #1c4385;
    transform: scale(1.1);
}
.emergency-call {
    display: flex;
    justify-content: center;
}
.emergency-call li {
    list-style: none;
    padding-right: 10px;
}
.emergency-call a {
    text-decoration: none;
    color: rgb(255, 255, 255) !important;
}
.top-phone {
    color: #ffffff;
}
.login-help {
    display: flex;
    justify-content: end;
}
.login-help a {
    text-decoration: none;
    font-size: 17px;
    padding: 0px 5px;
    color: rgb(255, 255, 255) !important;
}
.header-menu {
    border-bottom: 5px solid #1c4385;
}
.menu-top-btn {
    display: flex;
    justify-content: end;
    align-items: center;
    margin: 10px 0px;
}
.menu-top-btn a {
    text-decoration: none;
    background-color: #1c4385;
    border-radius: 50px;
    padding: 10px 25px;
    font-size: 18px;
    color: rgb(255, 255, 255) !important;
}
.menu-nav {
    margin-top: -40px !important;
}
.menu-nav .container {
    padding: 0px !important;
}
.menu-nav a.nav-link {
    font-size: 17px;
    text-transform: uppercase;
    color: #1c4385 !important;
}
.menu-nav div#navbarSupportedContent {
    margin-bottom: -53px;
}
.menu-nav a.nav-link:active,
.menu-nav a.nav-link:hover {
    border-bottom: 5px solid #c0202f;
}
.menu-nav .dropdown-toggle::after {
    display: none;
}
.menu-nav .dropdown-menu {
    background-color: #c0202f;
}
.menu-nav .dropdown-item {
    font-size: 17px;
    color: rgb(255, 255, 255) !important;
}
.menu-nav .dropdown-item:hover {
    background-color: #1c4385;
    color: rgb(255, 255, 255);
}
.menu-nav hr.dropdown-divider {
    color: rgb(255, 255, 255);
}
.hero-section {
    background-image: url("../images/Banner 1.png"),
        linear-gradient(rgba(10, 31, 68, 0.5), rgba(10, 31, 68, 0.5));
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-blend-mode: overlay;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}
.hero-container {
    margin: 0px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.hero-container h1,
.hero-container h2,
.hero-container h3,
.hero-container a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
}
.hero-container h1 {
    font-size: 60px;
    font-weight: 600;
}
.hero-container h3 {
    font-size: 40px;
}
.hero-btn {
    display: flex;
    margin-top: 5%;
}
.hero-container .search-job,
.hero-container .find-talent {
    color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 50px;
    padding: 10px 25px;
    text-decoration: none;
    font-size: 20px;
    margin: 0px 10px;
}
.search-job {
    background-color: #1c4385;
}
.find-talent {
    background-color: #c0202f;
}
.search-job li,
.find-talent li {
    list-style: none;
    padding: 0px 10px;
}
.job {
    margin: 20px 0px;
    display: flex;
}
.job-research {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.card-icon i {
    background-color: #c0202f;
    color: rgb(255, 255, 255);
    border-radius: 50px;
    padding: 15px;
    font-size: 20px;
}
.card-icon {
    padding: 10px;
}
.card-content {
    text-align: center;
}
.card-content li {
    list-style: none;
    padding: 0px 7px;
}
.job-btn {
    text-decoration: none;
    background-color: #1c4385;
    padding: 10px;
    font-size: 18px;
    text-transform: uppercase;
    margin: 0px 100px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255) !important;
}
.job-btn:hover {
    background-color: #c0202f;
}
.card-content h3 {
    font-size: 30px;
    color: #1c4385;
}
.card-content p {
    color: rgb(0, 0, 0);
    font-size: 20px;
}
.feature-job {
    background-color: rgb(244, 244, 245);
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
}
.feature-job .hr.dropdown-divider {
    color: rgb(236, 236, 237) !important;
}
.feature-job h4 {
    font-size: 25px;
    color: #1c4385;
    text-transform: uppercase;
    margin-bottom: 0px !important;
}
.feature-job p {
    font-size: 16px;
    margin: 0px !important;
    padding: 0px !important;
}
.feature-job h5 {
    font-size: 18px;
    color: #1c4385;
    padding: 5px 0px;
    margin: 0px !important;
}
.feature-job .feature-btn {
    text-decoration: none;
    background: #c0202f;
    padding: 10px;
    font-size: 18px;
    text-transform: uppercase;
    margin: 0px 90px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255) !important;
}
.feature-job .feature-btn:hover {
    background-color: #1c4385;
}
.testimonial {
    background-color: #c0202f;
    padding: 20px;
    display: flex;
}
.testimonial-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3% 15%;
}
.testimonial-image {
}
.testimonial-image img {
    border: 5px solid rgb(236, 236, 237);
    border-radius: 50%;
}
.testimonial-content {
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 10px 0px;
}
.testimonial-content h5 {
    font-size: 25px;
}
.testimonial-content p {
    font-size: 20px;
}
.testimonial-content a {
    font-size: 20px;
    text-transform: capitalize;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255) !important;
}
.testimonial-content a li {
    list-style: none;
    padding: 10px;
}
.blog {
    padding: 50px 0px;
}
.blog h3 {
    font-size: 35px;
    color: #000000;
    text-align: center;
    text-transform: uppercase;
}
.blog-container {
    display: flex;
    padding: 30px 30px;
}
.author-images {
    margin-right: 20px;
}
.author-images img {
    border: 5px solid rgb(236, 236, 237);
    border-radius: 50%;
}
.author-info {
}
.author-info p {
}
.author-info .author-name {
    font-size: 25px;
    margin: 0px !important;
}
.author-info .post-date {
    font-size: 20px;
    margin: 0px !important;
}
.post-details {
}
.post-details h5 {
    font-size: 22px;
    font-weight: bold;
    margin-top: 20px;
}
.post-details p {
    font-size: 18px;
    margin: 0px;
}
.post-details a {
}
.post-details .read-more {
    text-decoration: none;
    color: #c0202f;
}
/* Blog end */

/* Newsletter */
.newsletter {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4c4d4f;
    padding: 50px 0px;
}
.newsletter-container {
    text-align: center;
    color: #ffffff;
}
.newsletter-container h3 {
    font-size: 45px;
}
.newsletter-container p {
}
.newsletter-form {
    text-align: center;
    display: flex;
    justify-content: center;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
}
.newsletter-form span#basic-addon2 {
    background-color: #d02d02;
    border: none;
    text-transform: uppercase;
}
.newsletter-form span#basic-addon2:hover {
    background-color: #1c4385;
}
/* Newsletter End */

/* Footer Section */
footer {
    background-color: #1c1e29;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 30px;
}
.contact-info {
}
.contact-info a,
.location-map a {
    text-decoration: none;
    font-size: 17px;
    color: #ffffff !important;
}
.contact-info .phone,
.email,
.location {
    color: #c0202f;
    font-size: 18px;
    margin-right: 10px;
}
.location-map li {
    list-style: none;
    margin-right: 10px;
}
.location-map {
    display: flex;
}
.location-icon {
    color: #c0202f;
}
.footer-social-icons a {
    font-size: 35px !important;
    color: #a1a1a1;
}
/* copyright section */
.copyright {
    background-color: #1c1e29;
}
.copyright-content {
    display: flex;
    justify-content: center;
    font-size: 16px;
    color: #d5d5d5 !important;
}
.copyright-content p {
    padding: 0px 10px;
}
.copyright-content li {
    list-style: none;
    padding: 10px;
}
.copyright-content a {
    text-decoration: none;
    color: #d5d5d5 !important;
    padding: 0px 10px;
}
